.container-fluid {
    padding: 0 16px;
    max-width: $maxScreen;

    @include media($android) {
        padding: 0 48px;
    }

    @include media() {
        padding: 0 60px;
    }
}

.btn {
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 28px;
    text-align: center;
    transition-duration: .2s;
    border-radius: 12px;
}

.btn-violet {
    border: 2px solid rgb(128, 54, 255);
    color: rgb(128, 54, 255);
    font-size: 13px;
    border-radius: 8px;
}

.btn-violet-fill {
    background: linear-gradient(135deg, #6004ff, #7f35ff 23.95%, #370097 60.11%, #8d4aff);
    border: 1px solid hsla(0, 0%, 100%, .2);
    color: #fff;
}

.btn-orange {
    background: rgb(246, 232, 229);
    border: 1px solid rgb(255, 60, 5);
    color: rgb(255, 58, 2);
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
}


.btn-gray {
    background-color: #f5f5f5;
    border-color: #e6e6e6;
    color: #525252;
}

.bg-lap3 {
    @include media() {
        background-image: url("/images/graphics/laptop-landing-3.png");
        background-position: center;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
    }
}

.bg-lap16 {
    background-image: url("/images/graphics/laptop-landing-16.png");
    background-position: center;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.bg-md-transparent {
    @include media() {
        background: transparent !important;
        backdrop-filter: none !important;
        border-bottom: none !important;
    }
}

.bg-orange {
    background: linear-gradient(269deg, rgb(255, 185, 1) 17.08%, rgb(255, 149, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 5px 3px 0px, rgba(0, 0, 0, 0.01) 0px 9px 4px 0px, rgba(0, 0, 0, 0) 0px 14px 4px 0px;
    backdrop-filter: blur(28px);
    border-radius: 12px;
    border: 2px solid rgb(51, 51, 51);
}


.border-grey {
    border-color: #e6e6e6
}

.text-purple {
    color: #6004ff;
}